@model IEnumerable<DOAN.Models.DonMua>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn Mua</h2>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        box-sizing: border-box;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
    th {
        background-color:#ffd800;
        color:#555;
    }
    tr th a{
        color:#555;
    }
        tr th a:hover{
            color:#fff;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    .btn-search {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 3px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .create {
        background-color: #ff6a00;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

        .create a {
            color: #fff;
        }

        .create:hover {
            transform: scale(1.1)
        }
    .detail {
        background-color: #0026ff;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

        .detail a {
            color: #fff;
        }
    .detail:hover {
        transform: scale(1.1)
    }
</style>
@using (Html.BeginForm("index", "DonMuas"))
{
    <b>Search by: </b>@Html.RadioButton("searchBy", "MaDM", true)<text>Mã Đơn Mua</text>



    @Html.TextBox("Search")
    <input type="submit" value="Search" style="width: auto;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  " class="btn-search" />
}
<div class="form-group pull-right">
    @using (Html.BeginForm("Export", "DonMuas", FormMethod.Post))
    {
        <input type="submit" name="name" value="Export" class="btn btn-search" />
    }
</div>
    <p class="create">
        @Html.ActionLink("Tạo mới", "Create")

    </p>
    <p class="detail">
        @Html.ActionLink("Thêm Chi Tiết", "Create", "ChiTietDonMuas")
    </p>
    <table class="table">
        <tr>
            @Html.Raw(ViewBag.Headings)
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemTichLuy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherDaDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaDM }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaDM }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaDM })
                </td>
            </tr>
        }

    </table>